body {
    background-color: #e2e6ea;
}

.project-link, .project-link:hover {
    text-decoration: none;
}

.task-link, .task-link:hover {
    text-decoration: none;
}

a, a:hover {
    color: #000;
}
