body {
    /*background-color: #e2e6ea;*/
    /*filter: invert(100%);*/
}

.project-link, .project-link:hover {
    text-decoration: none;
}

.task-link, .task-link:hover {
    text-decoration: none;
}

a, a:hover {
    color: #000;
}

.table th, .table td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.breadcrumb {
    background-color: #fff;
}

.card-header {
    background-color: #fff;
}
